.split-login-page {
  min-height: 100vh;
  background: #f3f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  /* Glow Effects */
  .glow {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
  }

  .glow-1 {
    width: 300px;
    height: 300px;
    background: rgba(37, 99, 235, 0.25);
    top: -100px;
    left: -100px;
  }

  .glow-2 {
    width: 350px;
    height: 350px;
    background: rgba(14, 165, 233, 0.25);
    bottom: -120px;
    right: -120px;
  }

  /* Main Card */
  .split-login-card {
    width: 1000px;
    border-radius: 2rem 1rem;
    overflow: hidden;
    background: white;
    position: relative;
    z-index: 10;
    box-shadow: 0 20px 60px rgba(15, 23, 42, 0.08);


    /* LEFT PANEL */
    .left-panel {
      background: linear-gradient(135deg, #2563eb, #0ea5e9);
      color: white;
      position: relative;

      .left-content {
        padding: 2rem 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .brand {
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 1.5rem;

          .brand-circle {
            width: 60px;
            height: 60px;
            border-radius: 18px;
            background: rgba(255, 255, 255, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
              width: 80%;
            }
          }
          .header {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }

        .mini-tag {
          display: inline-block;
          padding: 10px 18px;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.12);
          font-size: .9rem;
          margin-bottom: 30px;
        }

        .main-header{
          font-size: 2.5rem;
          line-height: 1.2;
          font-weight: 900;
        }

        /* Analytics */
        .analytics-box {
          margin-top: 2rem;
          display: flex;
          gap: .5rem;

          .analytics-item {
            flex: 1;
            background: rgba(255, 255, 255, 0.12);
            border-radius: .5rem;
            padding: 1rem;
            text-align: center;

            h3 {
              font-size: 1.5rem;
              margin-bottom: 8px;
              font-weight: 700;
            }

            span {
              opacity: 0.8;
            }
          }
        }

        .footer{
          margin-top: 2rem;
          text-align: center;
          font-size: .8rem;
        }
      }
    }


    /* RIGHT PANEL */
    .right-panel {
      background: white;

      .auth-form-wrapper {
        width: 100%;
        margin: auto;
        padding: 4rem 2rem;

        /* Top */
        .top-row {
          display: flex;
          justify-content: space-between;
          align-items: start;
          margin-bottom: 1rem;

          .header {
            font-size: 1.5rem;
            font-weight: 900;
            color: #111827;
          }
          .sub-tittle {
            color: #6b7280;
            margin-top: 8px;
            font-size: .9rem;
          }

          .ktu-logo{
            width: 4rem;
          }
        }
      }


      /* Divider */

      .divider {
        display: flex;
        align-items: center;
        margin: 35px 0 0 0;
      }

      .divider::before,
      .divider::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #e5e7eb;
      }

      .divider span {
        padding: 0 15px;
        color: #6b7280;

        .link {
          text-decoration: none;
          color: #2563eb;
          font-weight: 600;
        }
      }
    }
  }
}


/* Responsive */

@media (max-width: 992px) {

  .left-panel {
    display: none;
  }

}